<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <header class="about d-flex flex-column justify-content-center align-items-center">
    <h1 class="pb-5">About Us</h1>
    <p><%= aboutUs %></p>
  </header>
  <main class="about">
    <h2 class="p-5">Why Us?</h2>
    <ul>
    <% whyUs.forEach(element => { %>
      <li><%= element %></li><br>
    <% }) %>
    </ul>
    <img src="notes-graphic.png" alt="Company photo">
  </main>
</body>
</html>
