<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <header>
    <h1>About Us</h1>
  </header>
  <main>
    <p><%= aboutUs %></p>
    <h2>Why Us?</h2>
    <ul>
    <% whyUs.forEach(element => { %>
      <li><%= element %></li><br>
    <% }) %>
    </ul>
    <img src="" alt="Company photo">
  </main>
</body>
</html>
