<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
</head>

<body>
  <%- include('./partials/nav') %>
    <main class="contact">
      <h1>Contact Us</h1>
      <p>If you want to contact us submit the form below</p>
      <form>
        <input type="text" placeholder="enter your full name" id="full-name" required><br>
        <input type="email" placeholder="enter your email" id="email" required><br>
        <textarea id="message-box" placeholder="message"></textarea><br>
        <input id="submit" type="submit" value="Send">
      </form>
    </main>
</body>

</html>
