<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Contact Us</h1>
  <p>If you want to contact us submit the form below</p>
  <form>
    <label for="full-name">Full Name: </label>
    <input type="text" placeholder="enter your full name" id="full-name" required><br>
    <label for="email">Email: </label>
    <input type="email" placeholder="enter your email" id="email" required><br>
    <textarea placeholder="message"></textarea><br>
    <input type="submit" value="Send">
  </form>
</body>
</html>
