<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <header class="home text-white d-flex flex-column align-items-center justify-content-center">
    <h1>Notes - assisting thought organization and connection</h1>
    <img src="pencil.png" alt="A pencil graphic">
    <p><%= homeDesc %></p>
  </header>
  <main>
  </main>
</body>
</html>
