body {
  background: rgb(185, 191, 201);
  background: linear-gradient(90deg, rgba(185, 191, 201, 1) 20%, rgba(4, 118, 252, 1) 100%);
}

.navbar-brand img {
  display: flex;
  justify-self: center;
  width: 90px;
}
